@font-face{
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.otf');
    font-weight: bolder;
}


@font-face{
    font-family: 'Gotham';
    src: url('../fonts/GothamBold.ttf');
    font-weight: bold;
}

@font-face{
    font-family: 'Gotham';
    src:url('../fonts/GothamBoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: 'Gotham';
    src: url('../fonts/GothamBook.ttf');
     font-weight: 500;
}

@font-face{
    font-family: 'Gotham';
    src:url('../fonts/GothamBookItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Gotham';
    src: url('../fonts/GothamLight.ttf');
    font-weight: 420;
}

@font-face{
    font-family: 'Gotham';
    src: url('../fonts/GothamLightItalic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.ttf');
    font-weight: normal;
}

@font-face{
    font-family: 'Gotham';
    font-weight: 300;
    src: url('../fonts/Gotham-Thin.otf');
}

@font-face{
    font-family: 'Gotham';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/Gotham-ThinItalic.otf');
}