@import url(/home/rafyramy/myPracticeProj/Zoo/css/reset.css);
@import url(/home/rafyramy/myPracticeProj/Zoo/css/flex.css);
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Black.otf");
  font-weight: bolder;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamBoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamBook.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamBookItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamLight.ttf");
  font-weight: 420;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamLightItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamMedium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: url("../fonts/Gotham-Thin.otf");
}

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Gotham-ThinItalic.otf");
}

body {
  background-color: black;
  color: rgba(255, 255, 255, 0.486);
  font-family: 'Gotham';
}

body #home {
  width: 100vw;
  height: 100vh;
}

body #home #bg {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  width: 100%;
  height: 90vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

body #home #bg img {
  width: 100%;
  height: 120%;
}

body #home #front {
  z-index: 2;
  width: 100%;
  height: 100vh;
}

body #home #front #left-menu {
  width: 80px;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.027);
  background-position: 100% 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #home #front #left-menu a {
  bottom: -460px;
  margin-bottom: 1.9em;
  padding-bottom: 0.2em;
  left: 1em;
  font-family: 'Gotham';
  font-weight: 420.4;
  font-size: .63em;
  color: rgba(255, 255, 255, 0.856);
}

body #home #front #left-menu ul {
  bottom: -418px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  padding-top: 1em;
}

body #home #front #left-menu ul li {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  left: 1em;
  line-height: 70%;
  color: white;
  display: block;
}

body #home #front .center-container {
  width: calc(100% - 160px);
  top: 3em;
  bottom: -3em;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 180px;
  position: fixed;
  color: white;
}

body #home #front .center-container #logo img {
  height: 50px;
  width: 80px;
}

body #home #front .center-container .title {
  width: 45%;
  top: 8em;
}

body #home #front .center-container .title h1 {
  font-size: 4em;
  font-weight: bolder;
  font-family: 'Gotham';
  position: relative;
  /* animation-duration: 1s;
  animation-name: slideInLeft; */
}

body #home #front .center-container .title h5 {
  font-size: 1.18em;
  font-family: 'Gotham';
  font-weight: 500;
}

body #home #front .center-container .title p {
  top: 1em;
  width: 60%;
  line-height: 121%;
  font-family: 'Gotham';
  font-weight: 420.25;
  font-size: .7em;
  color: rgba(255, 255, 255, 0.842);
}

body #home #front .center-container #animal-type {
  line-height: 80%;
  background-position: 100% 50%;
  background-size: cover;
  right: 8em;
  height: 100%;
  top: -17em;
  bottom: 3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #home #front .center-container #animal-type h5 {
  font-family: 'Gotham';
  font-weight: 500;
  font-size: 0.73em;
  padding-top: 1.8em;
}

body #home #front .center-container #animal-type p {
  padding-top: 0.5em;
  width: 120%;
  line-height: 122%;
  font-weight: 415;
  font-family: 'Gotham';
  font-size: 0.53em;
  color: rgba(255, 255, 255, 0.822);
}

body #home #front .center-container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc(100% - 160px);
  height: 70px;
  bottom: 8em;
}

body #home #front .center-container .footer .left-footer {
  font-family: 'Gotham';
  font-weight: 420.25;
  font-size: .7em;
  top: 3.5em;
  color: rgba(255, 255, 255, 0.842);
  width: 27%;
  line-height: 121%;
}

body #home #front .center-container .footer .right-footer {
  right: -37em;
  width: 200px;
  top: 3.7em;
}

body #home #front .center-container .footer .right-footer a img {
  height: 12px;
  width: 14px;
  margin-left: 1.3em;
}

body #home #front .toggle-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: 0;
  border: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 2px solid rgba(255, 255, 255, 0.075);
  height: 100%;
  width: 80px;
  float: right;
}

body #home #front .toggle-menu .menu-trigger {
  width: 30px;
  height: 20px;
  fill: white;
  background: transparent;
  top: 4em;
  border: none;
  font-weight: bold;
}

/* animation start here */
  .slideInLeft{
    display: inline-block;
  animation-duration: 1s;
  animation-name: slideInLeft;
  backface-visibility: hidden;

}
  .slideInRight{
      display: inline-block;
    animation-name: slideInRight;
    animation-duration: 1s;
  
  }

  .slideDown{
    display: inline-block;
  
    animation: 4s slideDown step-start(5);
    backface-visibility: hidden;
  }

@keyframes  slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }


  100% {
    opacity: 1;
    transform: translate(0);
  }
}





@keyframes  slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes  slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  
  }

  
  
  100% {
    opacity: 1;
    transform: translate(0);

  }
}


/*# sourceMappingURL=main.css.map */