
@import "fonts";

@import "reset";

@import "flex";
body{
    background-color: black;
    color: rgba(255, 255, 255, 0.486);
    font-family: 'Gotham';

   #home{
       width: 100vw;
       height: 100vh;

       #bg{


        //animation 
        animation-duration: 6s;

  animation-iteration-count:1;
  transition-timing-function: ease-in-out;
  //end animation
           width: 100%;
           height: 90vh;
           position: fixed;
           z-index: 1;
           top: 0;
           left: 0;
           background-position: 50% 50%;
           background-repeat: no-repeat;
           background-size: cover;
           margin: auto;

           img{
               width: 100%;
               height: 120%;

           }
       }

       #front{
           z-index: 2;
           width: 100%;
           height: 100vh;

           #left-menu{
               width: 80px;
               height: 100%;
               
               
               position: fixed;
               
               background-color: rgba(255, 255, 255, 0.027);
               background-position: 100% 50%;
               background-size: cover;
               display: flex;
               flex-direction: column;
               
               
               a{
                bottom: -460px;
                   margin-bottom: 1.9em;
                   padding-bottom: 0.2em;
                //    height: cal(100%-20px);
                   left:1em;
                //    right: -1em;
                font-family:'Gotham';
                font-weight: 420.4;
                font-size: .63em;
                color: rgba(255, 255, 255, 0.856);

               }

           
           ul{
            
               
               //border: 3px solid red;
               bottom: -418px;
               display: flex;
               justify-content: flex-start;
               flex-direction: column;
               //border: 2px solid red;
               height: 300px;
               padding-top: 1em;


               li{
                   text-decoration: none;
                   font-size: 2em;
                   font-weight: bold;
                   left: 1em;
                   line-height: 70%;
                   
                   color: white;
                   
                   display: block;
                   
//border: 2px solid red;
        
               }
            }
            
           }

           .center-container{
               width: calc(100% - 160px);
               top: 3em;
               bottom: -3em;
               height: 100vh;
               display: flex;
               flex-direction: column;
               left: 180px;
               position: fixed;
               //border: 2px solid red;
               color: white;

               #logo{
                   img{
                       height: 50px;
                       width: 80px;
                   }
               }

               .title{
                   width: 45%;
                   top: 8em;
                   //border:2px solid red;

                   h1{
                       
                       font-size: 4em;
                       font-weight: bolder;
                      font-family: 'Gotham';
                      position:relative;
                        animation-name: slideInLeft;
                   }
                   

                   h5{
                       font-size: 1.18em;
                       font-family: 'Gotham';
                       font-weight: 500;
                   }

                   p{
                       top: 1em;
                       width: 60%;
                       line-height: 121%;
                       font-family:'Gotham';
                       font-weight: 420.25;
                       font-size: .7em;
                       color: rgba(255, 255, 255, 0.842);
                   }
               }

               #animal-type{
                   line-height: 80%;
                   background-position: 100% 50%;
                   background-size: cover;
                   right: 8em;
                   height:100%;
                   top: -17em;
                   bottom: 3em;
                   align-self: flex-end;
                   display: flex;
                   width: 200px;
                  //overflow: hidden;
                   
                   flex-direction: column;
                   
                  // border: 2px solid red;


                   h5{
                       font-family: 'Gotham';
                       font-weight: 500;
                       font-size:0.73em;
                       padding-top: 1.8em;
                   }

                   p{
                       padding-top: 0.5em;
                       width: 120%;
                       line-height: 122%;
                       font-weight: 415;
                       font-family: 'Gotham';
                       font-size: 0.53em;
                       color: rgba(255, 255, 255, 0.822);
                   }
               }

               .footer{
                   display: flex;
                   flex-direction: row;
                   width: calc(100% - 160px);
                   height: 70px;
                   //overflow: hidden;
                   //border: 2px solid red;
                   bottom: 8em;

                 .left-footer{
                     font-family: 'Gotham';
                     font-weight: 420.25;
                     font-size: .7em;
                     top: 3.5em;
                     color: rgba(255, 255, 255, 0.842);
                     width: 27%;
                     line-height: 121%;
                 }

                 .right-footer{
                     //display: flex;
                    // flex-direction: row;
                    // justify-content: flex-start;
                     right: -37em;
                     width: 200px;
                     top: 3.7em;
                   // border: 2px solid red;

                    a{
                        
                          
                        img{
                            height: 12px;
                            width: 14px;
                            margin-left: 1.3em;
                        }
                        
                    }
                     
                    
                 }

               }

           }

           .toggle-menu{
               display: flex;
               align-self: flex-end;
               top: 0;
               border: transparent;
               justify-content: center;
               border-left: 2px  solid  rgba(255, 255, 255, 0.075); 
               height: 100%;
               //position: fixed;
               width: 80px;
               float: right;

               .menu-trigger{
                   width: 30px;
                   height: 20px;
                   fill: white;
                   background: transparent;
                   top:4em;
                   border: none;
                   font-weight: bold;

                //    svg::before{
                //     content: "\f00d";
                


                    
                
               }
               
           }
       }
   }

      
          
 

}